/* variable for color */
:root {
  --varDarker: #163257;
  --varDark: #295ea3;
  --varNormal: #367bd6;
  --varLighter: #7aa5dd;
}

body {
  background: rgb(46, 46, 51);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 450px) {
  body {
    background: rgb(46, 46, 51);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#appTitle {
  color: white;
  text-shadow: 5px 2px 2px #000000;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}
.container {
  /* width: 70vw; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#inputContainer {
  display: grid;
  justify-content: center;
  align-items: center;

  grid-template-columns: 9fr 1fr 0.3fr 0.3fr;

  /* margin-bottom: 0.5rem; */

  max-width: 700px;
}

#importanceForm {
  display: flex;
  color: rgba(255, 255, 255, 0.582);
}
#taskInput {
  /* border-radius: 10px; */

  font-size: larger;
  /* height: 4vh; */
  padding: 15px;
  /* width: 2vw; */
  /* padding: 1em; */
}
#add {
  height: 70%;
  /* block-size: 2.5em; */
  margin-left: 0.5rem;

  /* height: 4vh; */
  /* border-radius: 10px; */
}
#deleteAll {
  height: 100%;
  /* block-size: 3em; */
  margin-left: 0.5rem;
  /* font-size: 100%; */
  /* height: 4vh; */
  /* border-radius: 10px; */
}
.listContainer {
  display: grid;
  background-color: white;
  /* border-radius: 0.5rem; */
  /* padding: 1rem; */
  width: 100%;
  margin-top: 1rem;
}

.taskItem {
  justify-content: center;
  align-items: center;

  display: grid;
  grid-template-columns: 1fr 10fr 0.4fr 1fr;

  margin: 0.4rem;

  border-bottom: 3px solid #446d9b;
  /* border-radius: 0.1rem; */

  /* height: 3em; */
}
.taskText {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  font-size: 1.3em;
}

#add:hover {
  cursor: pointer;
  opacity: 0.8;
}
.deleteButton {
  height: 50%;

  border: solid 1px #163257;
  margin: 0.3rem 0.4rem 0.3rem 0;
  margin-left: 0.5rem;
  /* border-radius: 10px; */
}
.deleteButton:hover {
  cursor: pointer;
  opacity: 0.4;
}

.finishedTask {
  border: solid 1px #163257;
  /* margin-left: 0.4rem; */
  margin: auto;
  /* border-radius: 10px; */

  height: 50%;
}
.finishedTask:hover {
  color: white;
  cursor: pointer;
  opacity: 0.4;
}

.strikeThrough {
  text-decoration: line-through;
  color: #909baa;
  opacity: 0.6;
  background-color: #d2dbe7;
}

#deleteAll {
  /* font-style: none; */
  background: none;
  border: none;
  color: rgb(121, 113, 113);

  font-family: "Roboto", sans-serif;
  font-weight: 900;
  border: solid 4px #595a5c;
  border-radius: 24px;
}
#add {
  background: none;
  border: none;
  /* color: grey; */
  border: solid 4px #595a5c;
  border-radius: 24px;
}
#deleteAll:hover {
  cursor: pointer;
  opacity: 0.8;
}

.importance_Indicator {
  display: inline-block;
  width: 15px;
  height: 15px;
  /* border-radius: 50%; */
  margin-left: 10px;
  /* margin: auto; */
}

.low {
  background-color: green;
}

.medium {
  background-color: rgb(216, 172, 52);
}

.high {
  background-color: red;
}
